﻿<div class="row">
<div class="col-md-5">
    <Form>
        <div class="row">
            <div class="col-md-12" style="margin-top: 50px">
                <h3>Kehtivad broneeringud</h3>
                <table>
                    <tr *ngFor="let booking of validbookings">
                        <td>
                            <label>{{booking.personFirstName}} {{booking.personLastName}} , Teie broneeringud</label>
                            <p><b>Lähtekoht:</b>{{booking.airport1}}, <b>Sihtkoht:</b>{{booking.airport2}}, <b>Väljumine:</b>{{booking.flightStart | date:'yyyy-MM-dd HH:mm'}}, <b>Istekoht:</b>{{booking.seatNumber}}</p>
                        </td>
                        <td>
                            <div class="col-md-2">
                                <button (click)="deleteTicket(booking.bookingId)" class="btn center-block" type="submit">Tühista</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <h3>Kehtetud broneeringud</h3>
                <table>
                    <tr *ngFor="let booking of notvalidbookings">
                        <td>
                            <label>{{booking.personFirstName}} {{booking.personLastName}} , Teie broneeringud</label>
                            <p><b>Lähtekoht:</b>{{booking.airport1}}, <b>Sihtkoht:</b>{{booking.airport2}}, <b>Väljumine:</b>{{booking.flightStart | date:'yyyy-MM-dd HH:mm'}}, <b>Istekoht:</b>{{booking.seatNumber}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </Form>
</div>
</div>
