﻿<div class="row">
    <div class="col-md-8 " style="margin-left: 15%">
        <img src="https://cdn1.imggmi.com/uploads/2018/5/25/aeb750f0f583a01f0972d4a9d78797f7-full.jpg">
        <div class="a" >
            <h1>404</h1>
        </div>
        <div style="margin-left: 15%">
            <h3>Tundub, et oled kadunud radarilt :(</h3>
        </div>
    </div>
</div>