﻿<div class="row">
    <div class="col-md-4 " style="margin-left: 30%; margin-top: 20%">
        <section>
            <form  [formGroup]="form" (ngSubmit)="login(form.value)"  #formDir="ngForm" >
                
                <h4>Logi sisse, et kasutada funktsionaalsust</h4>
                <hr/>
               
                <div class="form-group"  [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
      }">
                    <label asp-for="Email">Email</label>
                    <input formControlName="email" asp-for="Email" class="form-control"/>
                </div>
                <div class="alert alert-danger col-md-6"
                     *ngIf="email.errors && (email.dirty || email.touched || email.untouched) && formDir.submitted">
                    <div *ngIf="email.errors?.required">Email ei saa olla tühi</div>
                    <div *ngIf="email.errors?.email">Email on vigane</div>
                </div>
                <div class="row"></div>
                <div class="form-group"  [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
      }">
                    <label for="password" >Parool</label>
                    <input formControlName="password" id="password" type="password" class="form-control"/>

                </div>
                 <div class=" alert alert-danger col-md-6"
                         *ngIf="password.errors && (password.dirty || password.touched || password.untouched) && formDir.submitted">
                        <div *ngIf="password.errors?.required">Parool ei saa olla tühi</div>

                    </div>
                    <div class="row"></div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-default">Logi sisse</button>
                    <button type="button" class="btn btn-default" (click)="goRegister()">Registreeri</button>
                </div>
                <div *ngIf="loginError" class="alert alert-danger">
                    <div id="loginError">
                       Antud kasutajanimi või parool on vale!
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>