﻿<h1>Statistika</h1>
<p>Siit saab näha statistikat lennujaama kohta</p>

<ul>
    <li><strong>Meie lennujaamas on kokku {{planes}} lennukit {{seats}} istmekohaga</strong></li>
    <li><strong>Kokku on väljunud {{flights}} (kõik mineviku lennud) lendu</strong></li>
    <li><strong>Meilt on võimalik lennata {{airports}} sihtkohta</strong></li>
    <li><strong>Meil on kokku tehtud {{bookings}} broneeringut</strong></li>
</ul>
