﻿<div class="row">
    <div class="col-md-8">
        <div *ngIf="formSubmitted">
            Teie tellimus on lisatud!
            Täname, et lendate magicAiriga
            <table class="table">
                <tr>
                    <td>
                        <label>{{ticket.personFirstName}} {{ticket.personLastName}} , Teie broneeringud</label>
                        <p><b>Lähtekoht:</b>{{ticket.airport1}}, <b>Sihtkoht:</b>{{ticket.airport2}}, <b>Väljumine:</b>{{ticket.flightStart | date:'yyyy-MM-dd HH:mm'}}, <b>Istekoht:</b>{{ticket.seatNumber}}</p>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="!formSubmitted">
            <div class="col-md-8">
                <Form [formGroup]="form" (ngSubmit)="book(form.value)">
                    <div class="row">
                        <div class="form-group col-md-4" id=" from-selectlist" [ngClass]="{
        'has-danger': startingPoint.invalid && (startingPoint.dirty || startingPoint.touched),
        'has-success': startingPoint.valid && (startingPoint.dirty || startingPoint.touched)
      }">
                            <label for="airport1" class="control-label">Lähtekoht</label>
                            <select formControlName="startingPoint" (change)="getFlights(form.value)" id="airport1" class="form-control">
                                <option value="null">--Vali lähtekoht--</option>
                                <option *ngFor="let location of airports" [value]="location.airportId">
                                    {{location.airportName}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-4" id=" to-selectlist" [ngClass]="{
        'has-danger': endPoint.invalid && (endPoint.dirty || endPoint.touched),
        'has-success': endPoint.valid && (endPoint.dirty || endPoint.touched)
      }">
                            <label class="control-label">Sihtkoht</label>
                            <select formControlName="endPoint" (change)="getFlights(form.value)" class="form-control">
                                <option value="null">--Vali sihtkoht--</option>
                                <option *ngFor="let location of airports" [value]="location.airportId">
                                    {{location.airportName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class=" alert alert-danger col-md-4"
                         *ngIf="startingPoint.errors && (startingPoint.dirty || startingPoint.touched)">
                        <div *ngIf="startingPoint.errors?.required">Peate lähtekoha valima</div>

                    </div>
                    <div class="row"></div>
                    <div class=" alert alert-danger col-md-4"
                         *ngIf="endPoint.errors && (endPoint.dirty || endPoint.touched)">
                        <div *ngIf="endPoint.errors?.required">Peate sihtkoha valima</div>

                    </div>
                    <div class="row">
                    </div>
                    <div class="alert-danger alert" *ngIf="locationValidate">
                        <div id="location errors">
                            {{locationValidateMessage}}
                        </div>
                    </div>
                    <div *ngIf="locationsChosed">
                        <div class="row">
                            <div class="form-group col-md-4" id="choose-time" [ngClass]="{
        'has-danger': time.invalid && (time.dirty || time.touched),
        'has-success': time.valid && (time.dirty || time.touched)
      }">
                                <label class="control-label">Vali aeg!</label>
                                <select formControlName="time" class="form-control" (change)="getSeats(form.value)">
                                    <option  value="0">--Vali aeg--</option>
                                    <option *ngFor="let times of flightDropDowns" [ngValue]="times ">
                                        {{times.startingDateTime | date:'yyyy-MM-dd HH:mm'}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class=" alert alert-danger col-md-4"
                             *ngIf="time.errors && (time.dirty || time.touched)">
                            <div *ngIf="time.errors?.min">Peate aja valima</div>
                        </div>
                        <div class="row"></div>
                        <div *ngIf="flightChosed">
                            <div class="row">
                                <div class="form-group col-md-4" id=" seats" [ngClass]="{
        'has-danger': seat.invalid && (seat.dirty || seat.touched),
        'has-success': seat.valid && (seat.dirty || seat.touched)
      }">
                                    <label class="control-label">Istekoha number</label>
                                    <select formControlName="seat" (change)="getPersonDetails()" class="form-control">
                                        <option  value="null">--Vali isekoht--</option>
                                        <option *ngFor="let planeseat of seats" [value]="planeseat.seatId">
                                            {{planeseat.seatNumber}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class=" alert alert-danger col-md-4"
                                 *ngIf="seat.errors && (seat.dirty || seat.touched)">
                                <div *ngIf="seat.errors?.required">Peate koha valima </div>

                            </div>
                            <div class="row"></div>
                            <div *ngIf="seatChosed">
                                <div class="row">
                                    <div class="form-group col-md-4" [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
                                        <label for="firstName" class="control-label">Eesnimi</label>
                                        <input formControlName="firstName" class="form-control" type="text" id="firstName" name="firstname" placeholder="Siseta oma eesnimi" />
                                    </div>
                                </div>
                                <div class=" alert alert-danger col-md-4"
                                     *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                                    <div *ngIf="firstName.errors?.required">Väli ei tohi olla tühi</div>

                                </div>
                                <div class="row">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4" [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
                                        <label class="control-label">Perenimi</label>
                                        <input formControlName="lastName" class="form-control" type="text" name="lastname" placeholder="Siseta oma perenimi" />
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched">Väli on nõutud!</div>
                                <div class="row">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4" [ngClass]="{
        'has-danger': idCode.invalid && (idCode.dirty || idCode.touched),
        'has-success': idCode.valid && (idCode.dirty || idCode.touched)
      }">
                                        <label for="idCode" class="control-label">Isikukood</label>
                                        <input formControlName="idCode" id="idCode" class="form-control" type="text" name="idCode" placeholder="Siseta oma isikukood">
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="form.controls.idCode.errors?.required && form.controls.lastName.touched">Väli ei tohi tühi olla !</div>
                                <div class="alert alert-danger" *ngIf="form.controls.idCode.errors?.minlength && form.controls.lastName.touched">Isikukood peab olema vähemalt 10 numbrit!</div>
                                <div class="alert alert-danger" *ngIf="form.controls.idCode.errors?.pattern && form.controls.lastName.touched && form.submitted">Isikukood peab olema ainult nubmrid!</div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn center-block" type="submit" [disabled]="!form.valid || locationValidate === true">Vali</button>
                        </div>
                    </div>
                </Form>

            </div>
        </div>
    </div>
</div>