<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">MagicAir </a> 
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li> </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Esileht
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/booking']">
                        <span class='glyphicon glyphicon-pencil'></span> Broneeri
                    </a>
                </li>
                <li *ngIf="auth.isAuthincated() && auth.isAdmin()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/manage']">
                        <span class='glyphicon glyphicon-plus'></span> Halda
                    </a>
                </li>
                <li *ngIf="auth.isAuthincated()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/tickets']">
                        <span class='glyphicon glyphicon-shopping-cart'></span> Piletid
                    </a>
                </li>
                <li *ngIf="auth.isAuthincated() && auth.isAdmin()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/statistics']">
                        <span class='glyphicon glyphicon-stats'></span> Statistika
                    </a>
                </li>
                <li *ngIf="!auth.isAuthincated()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-home'></span> Login
                    </a>
                </li>
                <li *ngIf="auth.isAuthincated()" [routerLinkActive]="['link-active']">
                    <a (click)="logout()">
                        <span class='glyphicon glyphicon-home '></span> Logi valja
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
