﻿<div class="row">
    <div class="col-md-8">


        <div class="row">
            <div class="form-group col-md-3" id="airport_lists">
                <label class="control-label">LENNUJAAMAD:</label>
            </div>
        </div>

        <div class="col-md-12">

            <table>

                <tr *ngFor="let airport of airports">
                    <td>
                        <p>{{ airport.airportName}}( {{airport.location}})</p>
                    </td>
                    <td>
                        <div class="col-md-3">
                            <button (click)="deleteAirport(airport.airportId)" class="btn btn-link">X</button>
                        </div>
                    </td>
                </tr>



            </table>
        </div>
        <Form novalidate [formGroup]="airportForm" (ngSubmit)="addAirport(airportForm.value)">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="airportName" class="control-label">Lennujaama nimi</label>
                    <input id="airportName" formControlName="airportName" class="form-control" type="text" name="airport_name">
                </div>

                <div class="form-group col-md-4">
                    <label for="airportLocation" class="control-label">Asukoht</label>
                    <input id="airportLocation" formControlName="airportLocation" class="form-control" type="text" name="location_name">
                </div>
            </div>
            <div class=" row" style="margin-top: -2">
                <div class="col-md-1">
                    <button class="btn center-block">Lisa</button>
                </div>
            </div>

        </Form>
        <div class="row">
            <div class="form-group col-md-4" id="flightline_lists">
                <label class="control-label">LENNULIINID:</label>
            </div>
        </div>

        <div class="col-md-12">
            <table>

                <tr *ngFor="let flightline of flightlines">
                    <td>
                        <p>{{ flightline.airport1}} - {{ flightline.airport2}},{{ flightline.flightLineStart  | date:'dd-MM-yyyy'}}, {{flightline.flightLineEnd  | date:'dd-MM-yyyy'}}</p>
                    </td>
                    <td>
                        <div class="col-md-3">
                            <button (click)="deleteFlightLine(flightline.flightLineId)" class="btn btn-link">X</button>
                        </div>
                    </td>
                </tr>


            </table>
        </div>

        <Form novalidate [formGroup]="flightLineForm" (ngSubmit)="AddFlightLine(flightLineForm.value)">

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="airport1" class="control-label">Lennujaam 1</label>
                    <select id="airport1" formControlName="airport1" class="form-control">
                        <option value="">Vali lähtekoht</option>
                        <option *ngFor="let location of airports" [value]="location.airportId">
                            {{location.airportName}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="airport2" class="control-label">Lennujaam 2</label>
                    <select id="airport2" formControlName="airport2" class="form-control">
                        <option value="">Vali sihtkoht</option>
                        <option *ngFor="let location of airports" [value]="location.airportId">
                            {{location.airportName}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="flightLineStart" class="control-label">Algusaeg</label>
                    <input id="flightLineStart" formControlName="flightLineStart" class="form-control" type="date">
                </div>

                <div class="form-group col-md-3">
                    <label for="flightLineEnd" class="control-label">Lõppaeg</label>
                    <input id="flightLineEnd" formControlName="flightLineEnd" class="form-control" type="date">
                </div>
            </div>
            <div class=" row" style="margin-top: -2">
                <div class="col-md-1">
                    <button class="btn center-block" type="submit">Lisa</button>
                </div>
            </div>
        </Form>



        <div class="row">
            <div class="form-group col-md-4" id=" planes_list">
                <label class="control-label">LENNUKID:</label>
            </div>
        </div>

        <div class="col-md-12">
            <table>

                <tr *ngFor="let plane of planes">
                    <td>
                        <p>{{ plane.planeMark}}, {{ plane.planeType}}, {{ plane.planeSeatsNumber}}</p>
                    </td>
                    <td>
                        <div class="col-md-3">
                            <button (click)="deletePlane(plane.planeId)" class="btn btn-link">X</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <Form novalidate [formGroup]="planeForm" (ngSubmit)="AddPlane(planeForm.value)">
            <div class=" row">
                <div class="form-group col-md-4">
                    <label for="planeMark" class="control-label">Mark</label>
                    <input id="planeMark" formControlName="planeMark" class="form-control" type="text" name="planemark">
                </div>

                <div class="form-group col-md-4">
                    <label for="planeType" class="control-label">Tüüp</label>
                    <input id="planeType" formControlName="planeType" class="form-control" type="text" name="planetype">
                </div>

                <div class="form-group col-md-4">
                    <label for="planeSeats" class="control-label">Istekohtade arv</label>
                    <input id="planeSeats" formControlName="planeSeats" class="form-control" type="text" name="planeseat">
                </div>
            </div>
            <div class=" row" style="margin-top: -2">
                <div class="col-md-1">
                    <button class="btn center-block" type="submit">Lisa</button>
                </div>
            </div>
        </Form>

        <div class="row">
            <div class="form-group col-md-4" id=" planes_list">
                <label class="control-label">LENNUD:</label>
            </div>
        </div>

        <div class="col-md-12">
            <table>
                <tr *ngFor="let flight of flights">
                    <td>
                        <p>{{flight.flightLineStart}}, {{flight.flightLineEnd}}, {{flight.planeMark}}, {{flight.flightStart}}, {{flight.flightEnd}}</p>
                    </td>
                    <td>
                        <div class="col-md-3">
                            <button (click)="deleteFlight(flight.flightId)" class="btn btn-link">X</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <Form novalidate [formGroup]="flightForm" (ngSubmit)="AddFlight(flightForm.value)">
            <div class="row">


                <div class="form-group col-md-5">
                    <label for="flightLine" class="control-label">Lennuliin</label>
                    <select class="form-control" id="flightLine" formControlName="flightLine">
                        <option value="">Vali lennuliin</option>
                        <option *ngFor="let flightline of flightlines" [value]="flightline.flightLineId">
                            {{flightline.airport1}} - {{flightline.airport2}}
                        </option>
                    </select>
                </div>
            </div>

            <div class=" row">
                <div class="form-group col-md-4">
                    <label for="flightPlane" class="control-label">Lennuk</label>
                    <select class="form-control" id="flightPlane" formControlName="flightPlane">
                        <option value="">Vali lennuk</option>
                        <option *ngFor="let plane of planes" [value]="plane.planeId">
                            {{plane.planeMark}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="flightStart" class="control-label">Algusaeg</label>
                    <input id="flightStart" formControlName="flightStart" class="form-control" type="datetime-local" name="flight_start_time">
                </div>

                <div class="form-group col-md-4">
                    <label ffor="flightEnd" class="control-label">Lõppaeg</label>
                    <input id="flightEnd" formControlName="flightEnd" class="form-control" type="datetime-local" name="flight_end_time">
                </div>
            </div>
            <div class=" row" style="margin-top: -2">
                <div class="col-md-1">
                    <button class="btn center-block" type="submit">Lisa</button>
                </div>
            </div>
        </Form>
    </div>
</div>
