<h1>MagicAir lennujaam!</h1>
<p>Tere tulemast meie modernse lennujaama lehele</p>
<p>This is where the magic happens</p>


<p>Antud veebilehel saab:</p>
<ul>
    <li><strong>Registreerida kasutajaks ning sisse logida</strong></li>
    <li><strong>Broneerida lennupileteid</strong></li>
    <li><strong>Vaadata oma lennupileteid</strong></li>
    <li><strong>Vaadata lennustatistikat</strong></li>
    <li><strong>Eraldi lisa admin-kasutajatele!</strong></li>
</ul>
