﻿<div class="row">
    <div class="col-md-4 " style="margin-left: 30%; margin-top: 5%">
        <h5 style="color: red">*Tärniga väljad on kohustuslikud!</h5>
        <div>
            <form [formGroup]="form" (ngSubmit)="register(form.value)" #dirForm="ngForm">
                
                <div class="form-group" id=" firstNameDanger" [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)}">
                    <p class="alert alert-danger" *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.touched ">Eesnimi on nõutud!</p>
                    <label for="firstName">Eesnimi<span style="color: red">*</span></label>
                    <input formControlName="firstName" id="firstName" type="text" class="form-control" />
                </div>
                <div class="form-group" id=" lastNameDanger" [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)}">
                    <p class="alert alert-danger" *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched  ">Perekonnanimi on nõutud!</p>
                    <label for="lastName">Perekonnanimi<span style="color: red">*</span></label>
                    <input formControlName="lastName" id="lastName" type="text" class="form-control" />
                </div>

                <div class="form-group" id="personIdDanger" [ngClass]="{
        'has-danger': personId.invalid && (personId.dirty || personId.touched),
        'has-success': personId.valid && (personId.dirty || personId.touched)}">
                    <p class="alert alert-danger" *ngIf="form.controls.personId.errors?.required && form.controls.personId.touched   ">Isikukood on nõutud!</p>
                    <p class="alert alert-danger" *ngIf="personId.errors?.pattern  && form.controls.personId.touched  ">Peavad olema ainult numbrid</p>
                    <p class="alert alert-danger" *ngIf="personId.errors?.minlength && form.controls.personId.touched  ">Isikukood peab olema vähemalt 10 numbrit</p>


                    <label for="personId">Isikukood<span style="color: red">*</span></label>
                    <input formControlName="personId" id="personId" type="text" class="form-control" />
                </div>

                <div class="form-group" id=" emailDanger" [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)}">
                    <p class="alert alert-danger" *ngIf="form.controls.email.errors?.required && form.controls.email.touched">Email on nõutud!</p>
                    <p class="alert alert-danger" *ngIf="email.errors?.email && form.controls.email.touched  ">Vigane email</p>

                    <label asp-for="Email">Email<span style="color: red">*</span></label>
                    <input formControlName="email" asp-for="Email" class="form-control" />
                </div>

                <div [formGroup]="passwordFormGroup">
                   
                    <div class="form-group" id=" passwordDanger" [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)}">
                        <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.required && form.controls.password.touched ">Parooli lahter peab olema täidetud!</p>
                        <label for="password">Parool<span style="color: red">*</span></label>
                        <input formControlName="password" id="password" type="password" class="form-control" />
                    </div>
                   

                    <div class="form-group" id=" confirmPasswordDanger" [ngClass]="{
        'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
        'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)}">
                        <p class="alert-danger alert" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Parool ei klapi kordusparooliga</p>
                        <p class="alert-danger alert" *ngIf="passwordFormGroup.controls.confirmPassword.errors?.required && form.controls.confirmPassword.touched  ">Kordusparooli lahter peab olema täidetud!</p>
                        <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.faultyPassword">Parool peab olema vähemalt 8 tähemärki, sisaldama suurt- ja väikest algustähte, numbrit ning sümbolit! </p>

                        <label for="confirmPassword">Korda parooli<span style="color: red">*</span></label>
                        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control" />
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-default" [disabled]="!form.valid" >Registreeri</button>
                </div>
                
                <div class="alert-danger alert" *ngIf="registerError">
                    <span>Ei saa registeerida kasutajat, antud emailiga kasutaja on juba olemas</span>
                </div>

            </form>
            </div>
        </div>
    </div>